body 
{
    font-family: "Roboto", sans-serif;
    background: #ffffff;

}

.top
{
    width: 1600px;
    height: 80px;
    display: flex;
    flex-direction: row;

}

.webstudio
{
    font-size: 26px;
  
}

.wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner
{
    background-color: #2F303A;
    
}
